<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <table Style="border:2px solid black">
    <tr Style="border:2px solid black">
      <th>ID</th>
      <th>HospitalNmae</th>
      <th>Speciality</th>
      <th>DoctorName</th>
    </tr>
    <c:forEach var="e" items="${cc}">
      <tr Style="border:2px solid white">
        <td>${e.id}</td>
        <td>${e.hospital_name}</td>
        <td>${e.speciality}</td>
        <td>${e.doctor_name}</td>
      </tr>
    </c:forEach>
  </table>


</form>


</body>
</html>